<:Window on:resize='resize()'/>

<svg ref:svg style="height: {{ height }}px;">
    {{#each features as feature}}
    <path on:click='highlight(feature.id)'
        class="feature {{ feature.properties.highlight ? 'highlight' : '' }}" 
        d="{{ path(feature) }}"></path>
    {{/each}}
</svg>

<style>
    svg {
        width: 100%;
        min-height: 400px;
    }

    .highlight {
        fill: blue;
    }
</style>

<script>
//import {shuffle} from 'd3-array';
import {json} from 'd3-request';
import {geoPath, geoConicConformal} from 'd3-geo';
import * as topojson from 'topojson';

const projection = geoConicConformal()
    .parallels([41 + 43 / 60, 42 + 41 / 60])
    .rotate([71 + 30 / 60, -41]);

const path = geoPath()
    .projection(projection);


export default {

    namespace: 'svg',

    data() {
        return {
            url: 'data/towns.json',
            object: 'TOWNS_POLYM',
            id_property: 'TOWN_ID',
            features: []
        }
    },

    helpers: {
        path,
        projection
    },

    methods: {
        resize() {
            const {width, height} = this.refs.svg.getBoundingClientRect();
            let features = this.get('features');

            this.set({ height: width / 2 });

            if (features) {
                projection.scale(1).translate([0, 0]);

                var b = path.bounds(this.get()),
                    s = .95 / Math.max((b[1][0] - b[0][0]) / width, (b[1][1] - b[0][1]) / height),
                    t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

                projection.scale(s).translate(t);

                this.set({ features: features });
            }
        },

        getRandomFeature() {
            const features = this.get('features');
            return features[Math.floor(Math.random() * features.length)];
        },

        highlight(id) {
            const features = this.get('features').map((f) => {
                f.properties = Object.assign({}, f.properties, { highlight: id === f.id });
                return f;
            });

            this.set({ features });
        },

        path,
        projection
    },

    oncreate() {
        json(this.get('url'), (err, data) => {
            const geojson = topojson.feature(data, data.objects[this.get('object')]);

            geojson.features.forEach((f) => {
                f.id = f.properties[this.get('id_property')]
            });

            geojson.bbox = topojson.bbox(data);

            this.set(geojson);
            this.resize();
        });
    },
}
</script>